<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="accessId" value="AKIA6OOP2E5ECHV4U66Y"/>
    <add key="secertKey" value="uQY2T2QwgRbryGAazqbd1EwbonV2sXuqB5GkPjPo"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>