<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.100.5" targetFramework="net472" />
  <package id="AWSSDK.Glacier" version="3.3.100.5" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.101.3" targetFramework="net472" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.100.5" targetFramework="net472" />
  <package id="AWSSDK.SQS" version="3.3.100.5" targetFramework="net472" />
</packages>